{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/compose_email.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin_email:hub' %}">{% trans 'Email' %}</a>
    &rsaquo; {% trans 'Compose email' %}
</div>
{% endblock %}

{% block content %}
<div class="compose-email">
    <h1>{% trans "Compose email" %}</h1>
    {% include "admin/users/_compose_email_form.html" %}
</div>
{% endblock %}
